[defaults]
interpreter_python = auto
stdout_callback = ansible.builtin.default
callback_result_format = yaml
host_key_checking = False
forks = 25
retry_files_enabled = False
roles_path = ./roles
deprecation_warnings = False
local_tmp = /tmp/ansible-local-$USER
remote_tmp = /tmp/ansible-remote-$USER
[ssh_connection]
pipelining = True
